@theme {
  --font-sans: 'Pretendard Variable', 'Pretendard', sans-serif;

  --text-title: 18px;
  --text-title--line-height: 24px;
  --text-title--font-weight: 700;

  --text-body-lg: 16px;
  --text-body-lg--line-height: 150%;
  --text-body-lg--font-weight: 500;

  --text-body: 15px;
  --text-body--line-height: 150%;
  --text-body--font-weight: 500;

  --text-caption: 14px;
  --text-caption--line-height: 150%;
  --text-caption--font-weight: 500;
}
